@use '@angular/material' as mat;
@use '@angular/cdk' as cdk;
@include mat.core();
@include cdk.overlay();

// Define the theme object.
$the5ws1h-theme: mat.define-theme((color: (theme-type: dark, use-system-variables: true), density: (scale: 0)));

// Include theme styles.
:root {
  @include mat.all-component-themes($phishserCatcher-theme);
  @include mat.typography-hierarchy($phishserCatcher-theme);
  @include mat.system-level-colors($phishserCatcher-theme);
  @include mat.system-level-typography($phishserCatcher-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--sys-outline-variant) var(--sys-outline);
}