:root,
:host {
    --sys-background: #111413;
    --sys-on-background: #E1E3E1;
    --sys-surface: #404847;
    --sys-surface-dim: #0e1513;
    --sys-surface-bright: #343b39;
    --sys-surface-container-lowest: #090f0e;
    --sys-surface-container-low: #161d1b;
    --sys-surface-container: #1a211f;
    --sys-surface-container-high: #252b2a;
    --sys-surface-container-highest: #303634;
    --sys-on-surface: #E1E3E1;
    --sys-surface-variant: #404847;
    --sys-on-surface-variant: #C0C8C6;
    --sys-inverse-surface: #E1E3E1;
    --sys-inverse-on-surface: #2E3130;
    --sys-outline: #8A9390;
    --sys-outline-variant: #404847;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #9DD1C8;
    --sys-primary: #9DD1C8;
    --sys-on-primary: #003732;
    --sys-primary-container: #0B443E;
    --sys-on-primary-container: #A6DAD2;
    --sys-inverse-primary: #006a61;
    --sys-secondary: #BADC9D;
    --sys-on-secondary: #1D3709;
    --sys-secondary-container: #92B277;
    --sys-on-secondary-container: #0D2300;
    --sys-tertiary: #FFFFFF;
    --sys-on-tertiary: #3F2E00;
    --sys-tertiary-container: #F5D081;
    --sys-on-tertiary-container: #FF523C00;
    --sys-error: #FFB4AB;
    --sys-on-error: #690005;
    --sys-error-container: #93000A;
    --sys-on-error-container: #FFDAD6;
    --sys-neutral: #717876;
    --sys-neutral-variant: #6f7977;
    --sys-primary-fixed: #9ef2e5;
    --sys-primary-fixed-dim: #82d5c9;
    --sys-on-primary-fixed: #00201c;
    --sys-on-primary-fixed-variant: #005048;
    --sys-secondary-fixed: #c9eea7;
    --sys-secondary-fixed-dim: #add18d;
    --sys-on-secondary-fixed: #0c2000;
    --sys-on-secondary-fixed-variant: #314e19;
    --sys-tertiary-fixed: #ffdf9a;
    --sys-tertiary-fixed-dim: #e7c26c;
    --sys-on-tertiary-fixed: #251a00;
    --sys-on-tertiary-fixed-variant: #5a4300;
    --sys-inverse-secondary: #48672f;
    --sys-inverse-tertiary: #765a0b;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}