<div class="container">
    <mat-toolbar>
        <span class="topbar-logo">5Ws1H</span>
        <span class="spacer"></span>
        <div class="navigation-buttons">
            <button mat-icon-button (click)="goHistory()">
                <mat-icon>history</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="content">
        @if (summarizeLoading === undefined) {
        <p class="prompt mat-body-large">The Article:<br />
            <span [ngClass]="url == null ? 'loading-url mat-body-large' : 'mat-body-medium'">{{title === undefined ?
                "Not detected, Reload Page!" : title === null ? "This is a Chrome page, Reload Page!" : title}}</span>
        </p>
        <!-- Scan/Summarize Button -->
        <button class="summarize" mat-flat-button (click)="summarizeArticle()">
            <span class="mat-label-large">Summarize</span>
        </button>
        } @else {
        <app-summary style="width: 100%;" [isLoading]="summarizeLoading" [article]="article" [isHome]="true"
            class="summary"></app-summary>
        }
    </div>
</div>