.container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    height: 100%;
}

mat-toolbar {
    background-color: transparent;
    padding-right: 0px;
    padding-left: 8px;
    padding-top: 16px;
}

.spacer {
    flex: 1 1 auto;
}

.topbar-logo {
    font-size: 32px;
    color: var(--sys-secondary);
    font-family: "Protest Guerrilla", sans-serif;
}

.navigation-buttons {
    display: flex;
    gap: 10px;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.prompt {
    font-family: "Poppins", sans-serif;
    width: 90%;
    overflow-wrap: break-word;
    white-space: normal;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

.prompt span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.loading-url {
    opacity: var(--opacity);
    animation: loadingText 0.5s infinite alternate;
}

.summarize {
    display: inline-flex;
    align-self: center;
    width: 128px;
    margin-bottom: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.summarize span {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

@property --opacity {
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}

@keyframes loadingText {
    0% {
        --opacity: 1
    }

    100% {
        --opacity: 0.5
    }
}