<div class="register-container">
  <h1 class="logo">5Ws1H</h1>
  <form [formGroup]="registerForm!!" (ngSubmit)="onSubmit()">
    <!-- Email Input -->
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" class="mat-body-medium" placeholder="Enter your email address"
        formControlName="email" required />
      <mat-error class="mat-body-medium"
        *ngIf="registerForm?.touched && registerForm!!.get('email')?.hasError('required')">
        Please enter your email address.
      </mat-error>
      <mat-error class="mat-body-medium"
        *ngIf="registerForm?.touched && registerForm!!.get('email')?.hasError('email')">
        The email you provided is not valid.
      </mat-error>
    </mat-form-field>

    <!-- Password Input -->
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" class="mat-body-medium"
        placeholder="Enter a strong password" formControlName="password" required />
      <button class="password-visibility" type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error class="mat-body-medium"
        *ngIf="registerForm?.touched && registerForm!!.get('password')?.hasError('required')">
        Please enter your password.
      </mat-error>
      <mat-error class="mat-body-medium"
        *ngIf="registerForm?.touched && registerForm!!.get('password')?.hasError('minlength')">
        Your password must be a minimum of 6 characters.
      </mat-error>
    </mat-form-field>


    <!-- Confirm Password Input -->
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" class="mat-body-medium" placeholder="Re-enter the password"
        formControlName="confirmPassword" required />
      <button class="password-visibility" type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error class="mat-body-medium"
        *ngIf="registerForm?.touched && registerForm!!.get('confirmPassword')?.hasError('passwordNoMatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <!-- Register Button -->
    <button class="register" mat-flat-button [disabled]="registerLoading" type="submit">
      <mat-spinner [diameter]="24" [color]="'#111413'" *ngIf="registerLoading"></mat-spinner>
      <span class="mat-label-large" *ngIf="!registerLoading">Register</span>
    </button>
  </form>
  <p>Already have an Account?, <a routerLink="/login">Login</a></p>
</div>