.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-summary {
    display: flex;
    flex-direction: row;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 8px 0;
    width: 90%;
    flex: 1;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.animated-gradient {
    height: 256px;
    border-radius: 16px;
    background: linear-gradient(90deg, var(--sys-primary), var(--sys-secondary));
    background-size: 200% 200%;
    animation: gradientAnimation 1s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.content-card {
    height: 324px;
    background-color: transparent;
}

.spacer {
    flex: 1 1 auto;
}

.question {
    font-family: "Protest Guerrilla", sans-serif;
}

.answer {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    overflow-y: auto;
    margin: auto;
    padding: 0 16px;
}

.clickable-answer {
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s;
}

.scroll-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indicators {
    display: flex;
    gap: 10px;
}

.indicators span {
    font-size: 24px;
    color: var(--mdc-elevated-card-container-color);
}

.indicators .active {
    color: var(--sys-secondary);
}

.navigation-buttons {
    display: flex;
    gap: 10px;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}