<div class="container">
  <mat-toolbar>
    <button mat-mini-fab (click)="goBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h4>Settings</h4>
  </mat-toolbar>
  <div class="settings-container">
    <h2>Translator <span *ngIf="!isTranslatorAvailable">(unavailable)</span></h2>
    <div class="single_setting">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Language</mat-label>
        <mat-select [value]="language" [disabled]="!isTranslatorAvailable" (selectionChange)="onLanguageChanged($event)">
          @for (language of supportedLanguages; track language) {
          <mat-option [value]="language.code">{{ language.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <h2>Summarizer <span *ngIf="!isSummarizerAvailable">(unavailable)</span></h2>
    <div class="single_setting">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Summary Type</mat-label>
        <mat-select [value]="type" [disabled]="!isSummarizerAvailable"  (selectionChange)="onTypeChanged($event)">
          <mat-option value="tl;dr">TL;DR</mat-option>
          <mat-option value="teaser">Teaser</mat-option>
          <mat-option value="headline">Headline</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="single_setting">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Summary Length</mat-label>
        <mat-select [value]="length" [disabled]="!isSummarizerAvailable"  (selectionChange)="onLengthChanged($event)">
          <mat-option value="short">Short</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="long">Long</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="logout-button" (click)="logout()">
    <h4>Logout</h4>
    <mat-icon>logout</mat-icon>
  </div>
</div>
